<!-- Navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="/users" class="brand">SIQL</a>
      <div class="nav-collapse collapse">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "navbar-form pull-right"}) do |f| %>
          <%= f.email_field :email, :placeholder => 'Email', :class => 'span2'%>
          <%= f.password_field :password, :placeholder => 'Password', :class => 'span2' %>
          <%= f.submit "Sign in", :class => 'btn' %> <br/>
          <% if devise_mapping.rememberable? -%>
            <label class="checkbox">
              Remember me <%= f.check_box :remember_me, :id => "rememberInput" %>
            </label> 
          <% end -%>
          <!-- Try to add a forgot your password link found in shared -->
        <% end %>
      </div>
    </div> <!--/.container-fluid -->
  </div> <!--/.navbar-inner -->
</div> <!--/.navbar-fixed-top -->

<div class="container">
  <h1> Please Sign Up...</h1>
    
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Sign up", new_registration_path(resource_name), :class => 'btn btn-rpimary' %><br />
  <% end -%>
    
  <div id="movie"></div>
  <script>
    bonsai.run(document.getElementById('movie'), {
	url: '/assets/site.js',
	width:800,
	height:600
    });
  </script>

  <script>
    function saveNewTable(e) {
      var tableName = document.getElementById("newTableName");
      if(tableName.value != "") {
	$('#newTableModal').modal('hide'); // hide modal on save
	alert("New table name: " + tableName.value);
      }
    }
  </script>

  <script>
    function saveNewAttr(e) {
      var attrName = document.getElementById("newAttrName");
      var attrType = document.getElementById("newAttrType");
      if(attrName.value != "") {
	$('#newAttributeModal').modal('hide'); // hide modal on save
	alert("New attr name: " + attrName.value + "\nAttr type: " ++ attrType.value);
      }
    }
  </script>

  <script>
    function saveEditTable(e) {
      var tableName = document.getElementById("editTableName");
      if(tableName.value != "") {
	$('#editTableModal').modal('hide'); // hide modal on save
	alert("Edited table name: " + tableName.value);
      }
    }
  </script>

  <script>
    function saveEditAttr(e) {
      var attrName = document.getElementById("editAttrName");
      var attrType = document.getElementById("editAttrType");
      if(attrName.value != "") {
	$('#editAttributeModal').modal('hide'); // hide modal on save
	alert("Edited attr name: " + attrName.value + "\nAttr type: " ++ attrType.value);
      }
    }
  </script>

  <!-- newTableModal -->
  <div id="newTableModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newTableModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="newTableModalLabel">Create a new table</h3>
    </div>
    <div class="modal-body">
      <label for="newTableName"><strong>Table name</strong></label>
      <input type="text" id="newTableName" value="">
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
      <button id="newTableBtn" class="btn btn-primary" onclick="saveNewTable()">Save table</button>
    </div>
  </div>
  <div class="bs-docs-example" style="padding-bottom: 24px;">
    <a data-toggle="modal" href="#newTableModal" class="btn btn-primary btn-large">New table</a>
  </div>
  
  <!-- newAttributeModal -->
  <div id="newAttributeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newAttributeModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="newAttributeModalLabel">Add a new attribute to selected table</h3>
    </div>
    <div class="modal-body">
      <label for="newAttrName"><strong>Attribute name</strong></label>
      <input type="text" id="newAttrName" value="">
      <label for="newAttrType"><strong>Attribute type</strong></label>
      <select id="newAttrType">
	<option value="text">text</option>
	<option value="number">number</option>
      </select>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
      <button id="newAttrBtn" class="btn btn-primary" onclick="saveNewAttr()">Save attribute</button>
    </div>
  </div>
  <div class="bs-docs-example" style="padding-bottom: 24px;">
    <a data-toggle="modal" href="#newAttributeModal" class="btn btn-primary btn-large">New attribute</a>
  </div>

  <!-- editTableModal -->
  <div id="editTableModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editTableModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="editTableModalLabel">Edit selected table</h3>
    </div>
    <div class="modal-body">
      <label for="editTableName"><strong>Table name</strong></label>
      <input type="text" id="editTableName" value="">
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
      <button id="editTableBtn" class="btn btn-primary" onclick="saveEditTable()">Save changes</button>
    </div>
  </div>
  <div class="bs-docs-example" style="padding-bottom: 24px;">
    <a data-toggle="modal" href="#editTableModal" class="btn btn-primary btn-large">Edit table</a>
  </div>

  <!-- editAttributeModal -->
  <div id="editAttributeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editAttributeModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="editAttributeModalLabel">Edit selected table's attribute</h3>
    </div>
    <div class="modal-body">
      <label for="editAttrName"><strong>Attribute name</strong></label>
      <input type="text" id="editAttrName" value="">
      <label for="editAttrType"><strong>Attribute type</strong></label>
      <select id="editAttrType">
	<option value="text">text</option>
	<option value="number">number</option>
      </select>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
      <button id="editAttrBtn" class="btn btn-primary" onclick="saveEditAttr()">Save changes</button>
    </div>
  </div>
  <div class="bs-docs-example" style="padding-bottom: 24px;">
    <a data-toggle="modal" href="#editAttributeModal" class="btn btn-primary btn-large">Edit attribute</a>
  </div>

</div>
