!!!
%html
  %head
    %title CIS400
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application", "http://code.jquery.com/jquery-latest.js"
    = csrf_meta_tags
  %body
    %p.status
      -# =user_signed_in? ? "Hello #{current_user.email}" : link_to("Login",new_account_session_path)
      -# =user_signed_in? ?  link_to("Logout",destroy_user_session_path) : ""
    -# %p.notice= notice
    -# %p.alert= alert
    -if flash[:notice]
      #notice= flash[:notice]
    = yield
